<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ClusterStream</title>
</head>
<body>

<h1>Whoops!</h1>

<p>
  {% if message %}
    {{ message }}
  {% else %}
    We are extremely sorry but something went terribly wrong.
  {% endif %}
</p>

<p>
  {{ exception.message }}
</p>

</body>
</html>
