{% extends "layout.html.twig" %}

{% block content %}
  <p>
    {% if message %}
      {{ message }}
    {% else %}
      We are extremely sorry but something went terribly wrong.
    {% endif %}
  </p>

  {% if exception %}
  <p>
    {{ exception.message }}
  </p>
  {% endif %}
{% endblock %}

{% block javascript %}
{% endblock %}
