<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>ClusterStream</title>
</head>
<body>

{% block content %}
{% endblock %}

{% block javascript %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="//js.pusherapp.com/1.8/pusher.min.js"></script>
{% endblock %}

</body>
</html>
